<!doctype html>
<!--[if lt IE 7 ]><html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]><html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]><html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]><html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--><html lang="en" class="no-js"> <!--<![endif]-->
<!--[if IE]>
	<style>
		
	</style>
<![endif]-->
<head>
<meta charset="utf-8">
<meta name="author" content="ThemeFuse">
<meta name="keywords" content="">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>Rhema Word - Gallery</title>

<!-- FONTS USE-->
<link href='http://fonts.googleapis.com/css?family=Lato:400,700|PT+Serif+Caption:400italic|Merriweather:300,400,700,400italic,700italic,900' rel='stylesheet' type='text/css'>
<!-- main JS libs  -->
<script src="static/js/libs/jquery.js"></script>
<script src="static/js/libs/modernizr.min.js"></script>
<script src="static/js/libs/respond.min.js"></script>
<!-- bootstrap -->
<link rel="stylesheet" href="static/css/bootstrap.css">
<script src="static/js/bootstrap.min.js"></script>
<!-- Lightbox prettyPhoto -->
<link href="static/css/prettyPhoto.css" rel="stylesheet">
<script src="static/js/jquery.prettyPhoto.js"></script>
<!-- Style CSS-->
<link href="static/style.css" media="screen" rel="stylesheet">
<link href="static/screen.css" media="screen" rel="stylesheet">
<!-- scripts  -->
<script src="static/js/general.js"></script>
<!-- carouFredSel plugin -->
<script type="text/javascript" language="javascript" src="static/js/jquery.carouFredSel.js"></script>
<script>
	$(window).load(function() {

	$("#gallery_images").carouFredSel({
		direction: "up",
		width: null,
		debug: true,
		height: "variable",
		align : "left",
		items: {
			visible: 3,
			minimum: 1,
			width: null,
			height: "variable"
		},
		scroll: {
			items: 1,
			pauseOnHover:true,
			duration: 1000
		},
		prev: "#gallery_prev",
		next: "#gallery_next"
	});
});
</script>

</head>

<body>
<div class="body_wrap">
	<div class="header medium">
	<div class="container">
	<div class="logo">
		<h2><a href="#">Welcome to Rhema Word Online</a></h2>
		<span class="mini"><span class="text-yellow">Perfection With Excellence In Christ!!</span></span>
	</div>

	<!-- topmenu-->
	<div id="topmenu">
		<ul class="dropdown">
			<li><a href="/"><span>Home</span></a></li>
			<li><a href="#"><span>Ministries</span></a>
				<ul>
					<li><a href="/youth/">Youth Ministry</a></li>
					<li><a href="/ladies_of_xter/">Ladies Ministry</a></li>
					<li><a href="/men_of_valor/">Men's Ministry</a></li>
					<li><a href="/media/">Media Ministry</a></li>
					<li><a href="/children/">Children's Ministry</a></li>
				</ul>
			</li>
			<li><a href="about-us.html/"><span>About us</span></a>
            </li>
			<li><a href="events.html"><span>Events</span></a></li>
			<li><a href="blog.html"><span>Latest News</span></a></li>
			<li class="current-menu-item"><a href="gallery.html"><span>Gallery</span></a></li>
			<li><a href="contact.html"><span>Contact</span></a></li>
		</ul>
	</div>

</div>
</div>
<!-- /Header -->
<div class="header_bottom medium">
	<div class="container">
		<div class="breadcrumbs">
			<a href="/">Home</a>
			>
			<a href="#">Gallery</a>
		</div>
		<div class="header_social hidden-phone">
			<span>FOLLOW US ON:</span>
			<a href="#" class="social_ico fb_ico"></a>
			<a href="#" class="social_ico tw_ico"></a>
			<a href="#" class="social_ico google_ico"></a>
		</div>
	</div>
</div><!-- /header bottom -->

<div id="middle" >
	<div class="container">
	<div class="row">
	<div class="span12">
		<div class="page_title">
			<img src="static/images/icons/photo_ico.png" alt="">
			<h2>Church Photo Gallery</h2>
			<span>Updated on <span>July 26th</span> , 2014 </span>
		</div>
	</div>
	</div>
	<div class="row">
	<div class="content span12">

	<article class="post-details">
	<div class="entry">
		<div class="gallery_list clearfix">
           {% for i in pics %}
			<div class="gallery_item">
				<div class="gallery_img"><a href="{{ i.pic }}" data-rel="prettyPhoto[123]"><img src="{{ i.pic }}" alt=""></a></div>
				<div class="gallery_meta clearfix">
					<span class="title_item">{{ i.desc }}</span>
				</div>
			</div>
           {% endfor %}
		<div class="clear"></div>
		</div>

	</div>
	</article><!-- /article -->

	</div><!-- / content -->
		
	<div class="clear"></div>
	</div>
	</div>
</div><!-- /middle-->

<div class="footer_top">
	<div class="container">
	<div class="row">
		<div class="footer_tweet span8">
			<div class="tweet_ico">
			<img src="static/images/icons/tweet_ico.png" alt="">
			</div>
			<div class="tweet_inner">
				<h6 class="alignleft">FOLLOW US ON TWITTER</h6>
				<h6 class="alignright author">@Heaven&amp;Earth</h6>
				<span class="clear"></span>
				<p >Quisque eget odio ac lectus vestibulum faucibus eget in metus. In pellentesque faucibus vestibulum. Duis aliquet egesta ate... <a href="#">bit.ly/XEGrwP</a></p>
			</div>
		</div>
		<div class="news_signup span4">
			<div class="news_ico">
				<img src="static/images/icons/news_ico.png" alt="">
			</div>

			<a href="#newsletter_form" data-rel="prettyPhoto" class="newsletter_btn">NEWSLETTER SIGNUP</a>

			<div id="newsletter_form" style="display:none;">
			<div class="news_inner" >
			<form action="#" method="POST" class="news_form">
				<h2 >Subscribe to Newsletter</h2>
				<label for="inp_email">Email adress</label>
				<input type="text" id="inp_email" name="inp_email" >
				<div class="inpt_btn">
				<input type="submit" value="JOIN our MAILING LIST">
				</div>
			</form>
			<div class="social_row">
				<h5>Also, you can stay in touch with us here:</h5>
				<a href="#" class="social_ico fb_ico"></a>
				<a href="#" class="social_ico tw_ico"></a>
				<a href="#" class="social_ico google_ico"></a>
			</div>
			</div>
			</div>
		</div>
	</div>
	</div>
</div><!--/footer top-->

<footer>
<div class="container">

<div class="footer_row">
	<ul class="footer_nav">
		<li><a href="/">Home</a></li>
		<li><a href="/events/">Events</a></li>
		<li><a href="/">Latest news</a></li>
		<li><a href="/gallery">Gallery</a></li>
		<li><a href="/about_us/">About us</a></li>
		<li><a href="/contact_us/">Contact</a></li>
        {% if user.is_authenticated %}
     		<li><a href="/logout/">Logout</a></li>
        {% else %}
	    	<li><a href="/login/">Login</a></li>
    		<li><a href="/register/">Register</a></li>
        {% endif %}
	</ul>
</div>

<div class="row">
	<div class="span6">
		<div class="copyright">
			<span> Designed and mentained by <a href="http://echrise-humphie.rhcloud.com/" target="_blank" class="text-orange">Echrise International</a>.</span><br />
		</div>
	</div>
	<div class="span6">
		<div class="footer_social">
			<span>FOLLOW US ON:</span>
			<a href="#" class="social_ico ico_fb"></a>
			<a href="#" class="social_ico ico_tw"></a>
			<a href="#" class="social_ico ico_google"></a>
		</div>
	</div>
</div>

</div>
</footer>

</div>
</body>
</html>